<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Edit Skill</title>
</head>
<body>
  <h1>Edit Skill</h1>
  <form class="edit-form" action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
    <input value="<%= skill.skill %>" type="text" name="skill" placeholder="Skill Name">
    <div>
      <label for="category">Category:</label>
      <select name="category" id="category">
        <option value="<%= skill.category %>"><%= skill.category %></option>
        <option value="Frontend">Frontend</option>
        <option value="Backend">Backend</option>
      </select>
    </div>
    <div>
      <label for="learned">Learned:</label>
      <input <%= skill.learned ? 'checked' : '' %> type="checkbox" name="learned" id="learned">
    </div>
    <div>
      <label for="isPlural">Plural:</label>
      <input  <%= skill.isPlural ? 'checked' : '' %> type="checkbox" name="isPlural" id="isPlural">
    </div>
    <button type="submit">Edit Skill</button>
  </form>
</body>
</html>