<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <title>Skill</title>
</head>
<body>
  <h1>Skill</h1>
  <div class="container">
    <img src="<%= logos[skill.technology] %>" alt="Other Technology" width="50px">
    <h2><%= skill.skill %></h2>
</div>
  <a href="/skills/<%= skill._id %>/edit">Edit Skill</a>
  <p>Category: <%= skill.category %></p>
  <p>Technology: <%= skill.skill %> is used within <%= skill.technology %> technology</p>
  <p>Learned: <%= skill.learned ? skill.isPlural ? 'Have been learned' : 'Has been learned' : skill.isPlural ? 'Have NOT been learned' : 'Has NOT been learned' %></p>
  <a href="/skills">Go Back</a>
</body>
</html>